# Ignore Python bytecode files
__pycache__
*.pyc

# Ignore virtual environments
venv/

# Ignore environment files
.env

# Ignore Git files
.git
.gitignore

# Ignore node_modules if you are working with a Node.js app
node_modules/
